<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">
</head>
<body>

	{% if messages %}
			<ul class="messages">
    		{% for message in messages %}
    			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    		{% endfor %}
			</ul>
		{% endif %}
	<div id="pagewrap">

		

		<div class="col-1-2">
			<form action="/users/register" method="POST">
				{% csrf_token %}
				<h1>Registration</h1>

				<label for="first_name">First Name:</label>
				<input type="text" name="first_name">

				<label for="last_name">Last Name:</label>
				<input type="text" name="last_name">

				<label for="email">Email:</label>
				<input type="text" name="email">

				<label for="password">Password:</label>
				<input type="password" name="password">

				<label for="confirm_pw">Confirm pw:</label>
				<input type="password" name="confirm_pw">

				<input type="submit" value="Register" class="button">
			</form>
		</div>
		<div class="col-1-2">
			<form action="/users/login" method="POST">
				{% csrf_token %}
				<h1>Login</h1>

				<label for="email">Email:</label>
				<input type="text" name="email">

				<label for="password">Password:</label>
				<input type="password" name="password">

				<input type="submit" value="Login" class="button">
			</form>
		</div>
	</div>
</body>
</html>